export CPP_CMD='gcc -C -E \
  -D__FRAMAC__ \
  -DHITLS_CRYPTO_BN \
  -DHITLS_SIXTY_FOUR_BITS \
  -DOPENHITLSDIR=\"/usr/local/\" \
  -I../openHiTLS/config/macro_config \
  -I../openHiTLS/include \
  -I../openHiTLS/include/bsl \
  -I../openHiTLS/include/crypto \
  -I../openHiTLS/crypto/include \
  -I../openHiTLS/crypto/bn/include \
  -I../openHiTLS/platform/Secure_C/include \
  -I../openHiTLS/bsl/include \
  -I../openHiTLS/bsl/err/include \
  -I../openHiTLS/bsl/asn1/include \
  -I../openHiTLS/tls/include \
  -I../openHiTLS/include/tls \
  -I../openHiTLS/include/pki \
  -I../openHiTLS/include/auth'
