.vscode/
build/
build-*/
.DS_STORE
*.list
.cache/
.clangd
**/_*/

test.c
*_acsl.c
doxygen/

benchmark_results.tsv
benchmark_logs
benchmark_summary.txt
bn_basic_wp_results.txt
wp_logs_bn_basic/
wp_logs_single/
runlogs
